<!DOCTYPE html>
<html>
    <head>
        <title>What should we do?</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>

        <div class="container">
            <h1>Activity Generator</h1>
            <div class="activity-div">
                <p><%=data.activity%></p>
                <p>Type: <%=data.activity%></p>
                <p>Price Rating: <%=data.price%></p>
                <p>Accessibility: <%=data.accessibility %></p>
                <p><%=data.activity%></p>
            </div>
            <button class="btn"><a href="/">HOME</a></button>
        </div>






    </body>
</html>